.circle {
    width:50px;
    margin: 0px auto;
    margin-top: -20px;
    color: white;

    .fa {
    	color: white;
    	background: white;
    }
}
.circle:after {
    content: "";
    display: block;
    margin-top: -20px;

    width: 50px;
    height:0;
    padding-bottom: 100%;
    margin-left: 25px;
    margin: 0px auto;
    background: #fff; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle div {
    float:left;
    width:50;
    margin-top: -20px;

    padding-top:50px;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}