@import'fonts';
.footer {
    background: #151E20;
    .container {
        padding-top: 30px;
        color: white;
        height: auto;
        .fbook {
            margin-top: 15px;
            padding-right: 10px;
        }
        h3 {
            margin-bottom: 25px;
            color: $dark-header;
        }
        ul {
            margin: 0.25em 0;
            padding: 0 1em;
            list-style: none;
            float: right;
            font-size: 14px;
        }
        li {
            display: inline;
            margin: 0;
            padding: 0 0.2em 0 0.5em;
        }
        .first {
            padding-left: 0;
            border: 0;
        }
        .muted-credit {
            padding: 5px;
        }
    }
}
