@import'fonts';
@import'bootstrap';
@import'colorPalette';
@import'mixins';
.flexible {
    .container {
        .projekti {
            @include text-margin(40px);
        }
    }
    h4 {
        border: none;
    }
    h3 {
        border: none;
    }
    h2 {
        @include text-margin(25px);
    }
    h1 {
        border: none;
    }
    .customers {
        height: 94px;
        width: 94px;
        margin-bottom: 20px;
    }
}
.flexible:nth-child(even) {
    /* Wanha */
    /* background: #252525; */
    
    background: #252525;
    color: #fafff7;
    padding: 15px;
    padding-bottom: 32px;
    h2 {
        color: $dark-header;
    }
    h3 {
        color: $dark-header;
    }
}
.flexible:nth-child(odd) {
    background: #fff;
    padding: 15px;
    padding-bottom: 32px;
    @media(max-width: $screen-sm-min) {
        margin-top: -20px
    }
}
