<!-- Content -->
<div class="flexible">
    <div class="container">
        <div class="col-xs-12 col-md-6">
            <h2 class="text-muted">Nykyhetki</h2>
            <p>Suunnittelemme, toteutamme ja ylläpidämme räätälöityjä ohjelmistoja asiakkaillemme ja kumppaneillemme. Projektimme koot vaihtelevat pienistä muutaman viikon toteutuksista pitkiin kokonaisratkaisuihin. Ainutlaatuisen asiakaslähtöisen palvelukonseptimme avulla luomme asiakkaan liiketoimintaa merkittävästi parantavia ratkaisuja. Varmistamme, että asiakas saa mitä tilaa ja on palveluihimme tyytyväinen.</p>

        </div>

        <div class="col-xs-12 col-md-6">
            <h2 class="text-muted">Tulevaisuus</h2>
            <p>Menemme eteenpäin vahvassa etukenossa ja uskomme aidosti tiiminä yhdessä menestymiseen. Pidämme luottamuksen, jonka olemme asiakkailtamme saaneet ja pyrimme viemään osaamistamme eteenpäin. Luotamme siihen, että kun teemme asiat hyvin, aikataulussa ja viemme projektit maaliin, ylläpitoa unohtamatta, sana meistä leviää entisestään.</p>
        </div>
    </div>
</div>



<div class="flexible">
    <div class="container">
        <div class="col-xs-12 col-md-12">
            <h2 class="text-muted text-center text-margin">Asiakkaitamme</h2>
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="row logo">
                <div class="col-xs-12 col-md-4">
                        <img src="img/yle_logo.png" class="img-responsive logo">
                    <p class="spacer-bottom">Yle on tärkeä avainasiakkaamme. Tekijöillämme on pitkä historia yhteistyöstä Yleisradion kanssa. Ensimmäiset projektimme juontavat juurensa aina vuoteen 2004. Pitkä yhteistyömme onkin poikinut lukuisia menestyksekkäitä hankkeita liittyen mm. lukuisiin vaalien tulospalveluihin, julkaisujärjestelmiin, Elävään arkistoon, teksti-tv:n ja Twitter-liityntöihin.</p>
                </div>
                <div class="col-xs-12 col-md-4">
                        <img src="img/corenet_logo.png" class="img-responsive logo">
                    <p class="spacer-bottom">Olemme yhteistyössä Corenetin kanssa kehittäneet uuden lokienhallintapalvelun KyberLite. Palvelun etuja ovat mm. helppo ja nopea käyttöönotto, edullisuus, tarpeisiin skaalautuvuus sekä turvallisuus. Ratkaisulla seuraat ja todennat tapahtumia sekä pystyt vastaamaan eri tietoturvavaatimuksiin.</p>
                </div>
                <div class="col-xs-12 col-md-4">
                        <img src="https://applications.sveaekonomi.se/S3/images/logo_S.png" class="img-responsive logo">
                    <p class="spacer-bottom">Svea on meille paljon enemmän kuin asiakas. Svea on kumppani. Yhteistyömme on ollut menestyksekästä ja tulevaisuus näyttää hyvältä meille molemmille. Tällä hetkellä rakennamme yhdessä uutta perintäjärjestelmää. Reaaliaikainen Online-asiakas-seurantapalvelu lanseerattiin vuonna 2013 ja se on saanut erinomaiset arviot.</p>
                </div>
            </div>
        </div>

    </div>
</div>
