<div class="flexible">
    <div class="container">
        <div class="col-xs-12 col-md-6">
            <h2 class="text-muted"><i class="fa fa-suitcase"></i>&nbsp;Referenssi</h2>
            <p>FNX:n referenssit perustuvat perustajayritysten toteuttamiin palveluihin. Tekijöiden laaja työkokemus käy selville paremmin ansioluetteloista.</p>

        </div>
        <div class="col-xs-12 col-md-6">
            <h2 class="text-muted"><i class="fa fa-question"></i>&nbsp;FNX on mukana
                <font color="#00aab2">Atrain</font>ryhmittymässä</h2>
            <p>Ryhmittymä toimii valtakunnallisesti omaten monipuolista kokemusta julkishallinnon IT-asioista. Ryhmittymä on tehnyt myynti-, markkinointi- ja projektiyhteistyötä vuodesta 2005 lähtien. Käytännön kokemuksemme on osoittanut, että monesti IT-alalla parhaat ammattilaiset toimivat pienissä organisaatioissa.
            </p>
        </div>
    </div>
</div>
<div class="flexible">

    <div class="container">
        <div class="col-xs-12 col-md-12">
            <h2 class="text-muted"><i class="fa fa-columns"></i>&nbsp;
                <font color="#00B5C8">Yle</font>isradio</h2>
            <!-- Temp -->
        </div>
        <div class="col-xs-12 col-md-4">
            <h4 style="color:#00B5C8;">Perintätoimeksiantojen seurantajärjestelmä</h4>
            <p>Online-järjestelmä, josta velkojat voivat käydä katsomassa perintään jätettyjen perintätoimeksiantojen etenemistä. Järjestelmä on perintäneuvottelijan tärkeimpiä työkaluja, koska se sisältää myös viestien välityksen perintäneuvottelijan kanssa.
            </p>
        </div>
        <div class="col-xs-12 col-md-4">
            <h4 style="color:#00B5C8;">Artikkelihakupalvelu</h4>
            <p>Toteutimme Yleisradiolle toimittajien ja ulkoisten yhteistyökumppanien käyttöön REST-pohjaisen artikkelihakupalvelun. Palvelu kehitettiin Solr:n päälle. Tuotannossa käytetään Microsoftin FASTia.</p>
        </div>
        <div class="col-xs-12 col-md-4">
            <h4 style="color:#00B5C8;">Artikkelihakupalvelu</h4>
            <p>Toteutimme Yleisradiolle toimittajien ja ulkoisten yhteistyökumppanien käyttöön REST-pohjaisen artikkelihakupalvelun. Palvelu kehitettiin Solr:n päälle. Tuotannossa käytetään Microsoftin FASTia.</p>
        </div>


    </div>
</div>

<div class="flexible">

    <div class="container">
        <div class="col-xs-12 col-md-12">
            <h2 class="text-muted"><i class="fa fa-calculator"></i>&nbsp;
                <font style="color:#3798D2">Svea</font>Ekonomi</h2>

        </div>
        <div class="col-xs-12 col-md-4">
            <h4 class="">Perintätoimeksiantojen seurantajärjestelmä</h4>
            <p>Online-järjestelmä, josta velkojat voivat käydä katsomassa perintään jätettyjen perintätoimeksiantojen etenemistä. Järjestelmä on perintäneuvottelijan tärkeimpiä työkaluja, koska se sisältää myös viestien välityksen perintäneuvottelijan kanssa.
            </p>


        </div>
        <div class="col-xs-12 col-md-4">
            <h4 class="">&nbsp;</h4>
            <p>Velallisen online-palvelussa velallinen voi käydä katsomassa velkansa tilaa ja tehdä maksusuunnitelmaehdotuksen takaisinmaksusta.</p>


        </div>
        <div class="col-xs-12 col-md-4">
            <h4 class="" style="color:#3798D2;">Autohuuto</h4>
            <p>FNX rakentaa parhaillaan SVEA perinnälle uutta perintäjärjestelmää. Reaaliaikainen Online-asiakas-seurantapalvelu lanseerattiin vuoden 2013 alussa ja se on saanut erinomaiset arviot eri tarjouskilpailuissa vertailtaessa kilpailijoiden vastaaviin palveluihin.</p>


        </div>
    </div>
</div>
