<div class="flexible">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h2 class="text-muted">Tiimimme</h2>
                <p>Tule mukaan huipputiimiimme! Meillä osaajia arvostetaan ja pidämme varmasti huolen, että viihdyt työssäsi sekä kehityt edelleen. Meillä on tiimissämme kokeneita kaiken nähneitä asiantuntijoita sekä nälkäisiä tulevaisuuden talentteja. Arvostamme halua kehittyä ja oppia uutta. Yrityksemme tukee sinua kehittymisessä huippuammattilaiseksi.</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <h2 class="text-muted">Kumppanimme</h2>
                <p>Emme osaa ihan kaikkea itse, joten meillä on laaja verkosto oman alansa osaajia. Uskomme verkostoitumisen ja jakamisen voimaan ja etsimmekin uusia yhteistyökumppaneita aktiivisesti. Kuulumme mm. Atrain-ryhmittymään, johon kuuluu yli 70 IT-alan yritystä ympäri Suomea. Ryhmittymällä on vankka ja monipuolinen kokemus erityisesti julkishallinnosta.</p>
            </div>
        </div>
    </div>
</div>

<div class="flexible jobs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h2 class="text-muted text-center">Etsimme sinua</h2>
            </div>
            <div ng-repeat="term in terms">
                <div class="col-md-4">
                    <h3 class="text-muted names spacer-top spacer-bottom">{{term.java.title}}</h3>
                    <div class="info">
                        <p>{{term.java.content}}</p>
                        <p class="spacer-bottom">{{term.java.content_sm}}</p>
                    </div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" ng-href="#odotamme">{{term.titles.odotamme}}&nbsp;<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="odotamme" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>ketterä ohjelmistokehitys</li>
                                        <li>testauslähtöinen ohjelmistokehitys</li>
                                        <li>jatkuvan integraation sujuvaa käyttöä</li>
                                        <li>Java-teknologioiden hyvää tuntemusta</li>
                                        <li>selain-teknologioiden hyvää tuntemusta</li>
                                        <li>hyvää puhuttua ja kirjoitettua suomen ja englannin kielen osaamista</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" ng-href="#arvostamme">{{term.titles.arvostamme}}&nbsp;<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="arvostamme" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>Javascript-osaamista</li>
                                        <li>Linux-osaamista</li>
                                        <li>IT-alan tutkintoa ja muita ansioluettelossa hyvältä näyttäviä juttuja</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" ng-href="#tarjoamme">{{term.titles.tarjoamme}}&nbsp;<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="tarjoamme" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>mukavat työkaverit</li>
                                        <li>avoimen työkulttuurin</li>
                                        <li>osaamista arvostavan yrityksen</li>
                                        <li>matalan organisaation</li>
                                        <li>osaamistasi vastaavan palkkatason</li>
                                        <li>jatkuvan kehittymisen</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="text-muted spacer-top spacer-bottom">{{term.dotnet.title}}</h3>
                    <div class="info">
                        <p>{{term.dotnet.content}}</p>
                        <p class="spacer-bottom">{{term.dotnet.content_sm}}</p>
                    </div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" ng-href="#odotamme1">{{term.titles.odotamme}}&nbsp;<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="odotamme1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>ketterä ohjelmistokehitys</li>
                                        <li>testauslähtöinen ohjelmistokehitys</li>
                                        <li>jatkuvan integraation sujuvaa käyttöä</li>
                                        <li>C#-ohjelmointikielen ja muiden Microsoft-teknologioiden hyvää tuntemusta</li>
                                        <li>selain-teknologioiden tuntemusta</li>
                                        <li>hyvää puhuttua ja kirjoitettua suomen ja englannin kielen osaamista</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#arvostamme1">{{term.titles.arvostamme}}&nbsp;<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="arvostamme1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>JavaScript-osaamista</li>
                                        <li>PowerShell-osaamista</li>
                                        <li>F#-ohjelmointikielen osaamista</li>
                                        <li>funktionaalista ohjelmointia</li>
                                        <li>Linux-osaamista</li>
                                        <li>IT-alan tutkintoa ja muita ansioluettelossa hyvältä näyttäviä juttuja</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#tarjoamme1">{{term.titles.tarjoamme}}&nbsp;<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="tarjoamme1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>mukavat työkaverit</li>
                                        <li>avoimen työkulttuurin</li>
                                        <li>osaamista arvostavan yrityksen</li>
                                        <li>matalan organisaation</li>
                                        <li>osaamistasi vastaavan palkkatason</li>
                                        <li>jatkuvan kehittymisen</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="text-muted spacer-top spacer-bottom">{{term.projekti.title}}</h3>
                    <div class="info">
                        <p class="spacer-bottom">{{term.projekti.content}}</p>
                    </div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#odotamme2">{{term.titles.odotamme}}&nbsp;<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="odotamme2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>ketterä ohjelmistokehitys</li>
                                        <li>testauslähtöinen ohjelmistokehitys</li>
                                        <li>jatkuvan integraation sujuvaa käyttöä</li>
                                        <li>selain-teknologioiden tuntemusta</li>
                                        <li>hyvää puhuttua ja kirjoitettua suomen ja englannin kielen osaamista</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#arvostamme2">{{term.titles.arvostamme}}&nbsp;<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="arvostamme2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>JavaScript-osaamista</li>
                                        <li>Linux-osaamista</li>
                                        <li>IT-alan tutkintoa ja muita ansioluettelossa hyvältä näyttäviä juttuja</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#tarjoamme2">{{term.titles.tarjoamme}}&nbsp;<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="tarjoamme2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>mukavat Työkaverit</li>
                                        <li>avoimen työkulttuurin</li>
                                        <li>osaamista arvostavan yrityksen</li>
                                        <li>matalan organisaation</li>
                                        <li>osaamistasi vastaavan palkkatason</li>
                                        <li>jatkuvan kehittymisen</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-muted">Muokattu 12.11.2014</p>
    </div>
</div>
<div class="flexible employees">
    <div class="container">
        <div class="row">
            <div ng-controller="TestCtrl">
                <div class="col-xs-12 col-md-12">
                    <h2 class="text-muted text-center text-margin">Tässä pääasia - meidän mahtava porukkamme</h2>
                </div>
                <div ng-repeat="emp in emps | orderBy: 'name'">
                    <div class="col-xs-6 col-md-3">
                        <div class="media">
                            <div class="media-body text-center">
                                <h3 class="media-heading emp-text text-muted" style="white-space: pre">{{emp.name}}</h3>
                                <small>{{emp.position}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
