<div class="flexible">
    <div class="container">
        <div class="col-xs-12 col-md-6">
            <h2 class="text-muted"><i class="fa fa-user"></i>&nbsp;Yhteystiedot</h2>
            <address>
                Eero Koskiallio - Toimitusjohtaja
                <br/>+358 - 4564641
                <br/>nimi.sukunimi@fnxsolutions.com
                <br />
            </address>
            <address>
                Jaakko Rautio - Asiakkuudet
                <br/>+358 - 4564641
                <br/>nimi.sukunimi@fnxsolutions.com
                <br />
            </address>
        </div>

        <div class="col-xs-12 col-md-6">
            <h2 class="text-muted"><i class="fa fa-question"></i>&nbsp;FNX on mukana
                <font color="#00aab2">Atrain</font>ryhmittymässä</h2>
            <p>Ryhmittymä toimii valtakunnallisesti omaten monipuolista kokemusta julkishallinnon IT-asioista. Ryhmittymä on tehnyt myynti-, markkinointi- ja projektiyhteistyötä vuodesta 2005 lähtien. Käytännön kokemuksemme on osoittanut, että monesti IT-alalla parhaat ammattilaiset toimivat pienissä organisaatioissa.
            </p>
        </div>
    </div>
</div>
<div class="flexible">
    <div class="container">
        <div class="col-xs-12 col-md-6">
            <h2 class="text-muted"><i class="fa fa-suitcase"></i>&nbsp;Referenssi</h2>
            <p>FNX:n referenssit perustuvat perustajayritysten toteuttamiin palveluihin. Tekijöiden laaja työkokemus käy selville paremmin ansioluetteloista.</p>

        </div>

        <div class="col-xs-12 col-md-6">
            <h2 class="text-muted"><i class="fa fa-question"></i>&nbsp;FNX on mukana
                <font color="#00aab2">Atrain</font>ryhmittymässä</h2>
            <p>Ryhmittymä toimii valtakunnallisesti omaten monipuolista kokemusta julkishallinnon IT-asioista. Ryhmittymä on tehnyt myynti-, markkinointi- ja projektiyhteistyötä vuodesta 2005 lähtien. Käytännön kokemuksemme on osoittanut, että monesti IT-alalla parhaat ammattilaiset toimivat pienissä organisaatioissa.
            </p>
        </div>
    </div>
</div>

