@import 'all';

htm, body {
    /* background: #151E20; */
    background: fff;
    font-family: $ft-raleway;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: $ft-raleway;
    font-weight: 300;
}


.jobs {
  ul {
    padding-left: 20px;
    font-size: 85%;
  }
}

.employees {
  h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  small {
    font-size: 13px;
  }
}

.spacer-top {
  margin-top: 25px;
}

.spacer-bottom {
  margin-bottom: 25px;
}

.navbar-header {
  a {
    padding: 20px 15px !important;
  }
}

.navbar-toggle {
  margin-top: 15px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .jumbotron {
    h1 {
      font-size: 45px;
    }
    h3 {
      font-size: 20px;
    }
  }
  .employees {
    h3 {
      font-size: 24px;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .jumbotron {
    h1, h3 {
      margin-top: 0;
    }
    h1 {
      font-size: 55px;
    }
    h3 {
      font-size: 25px;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}