@import url(http://fonts.googleapis.com/css?family=Lobster+Two);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
/* Fonttien importtaukseksi helpottamiseksi
    kaikki fontit importataan vain tänne. */

$ft-lobster: 'Lobster Two', cursive;
$ft-droid: 'Droid Sans', sans-serif;
$ft-sans: 'Open Sans', sans-serif;
$ft-sans-pro: 'Source Sans Pro', sans-serif;
$ft-raleway: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
